<div class="relative w-screen md:h-screen h-[350px] bg-cover bg-center flex overflow-hidden full-bleed-header header-bg"
     style="--header-bg: url('{{ section.settings.background_image | image_url }}');">


    <div class="flex flex-col items-start justify-center pt-55">
        <div class="z-2">
            <h1 class="text-left text-2xl text-black px-10 md:text-5xl font-bold pt-15">
            {{ section.settings.page_title | newline_to_br }}
            </h1>
        </div>

        <div class="z-2">
            <p class="text-left text-sm px-10 md:text-lg md:pt-10 pt-5 text-black">
            {{ section.settings.page_descripction }}
            </p>
        </div>

        <div class="flex z-2 pointer-events-none px-10 pt-5">
            <a
            href="/"
            class="pointer-events-auto bg-white flex items-center justify-center 
                    rounded-xl md:px-8 md:py-3 py-2 px-20 hover:opacity-70 transition-opacity"
            >
            <span class="text-black md:text-lg text-xs font-semibold">
                {{section.settings.button_text}}
            </span>
            </a>
        </div>

    </div>

</div>

<style>
.full-bleed-header{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.header-bg{
  background-image: var(--header-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  overflow: hidden;
}


</style>



{% schema %}
{
  "name": "Header main section",
  "settings": [
    
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    
    {
      "type": "textarea",
      "id": "page_title",
      "label": "Page Title",
      "default": "Slide heading"
    },
    {
      "type": "text",
      "id": "page_descripction",
      "label": "Page Descripction",
      "default": "Tell a story"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texto de boton",
      "default": "Shop now"
    }
    
  ],
  "presets": [
    {
      "name": "Header Main section",
    }
  ]
}



{% endschema %}

