<div class="klaviyo-form-VM9HUQ"></div>
{% schema %}
  {
    "name": "Klaviyo Form",
    "settings": [
      
    ],
    "presets": [
  { 
    "name": "Klaviyo Form"
    }
  ] 
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}