@font-face {
    font-family: 'Gerbil';
    src: url('https://cdn.shopify.com/s/files/1/2437/2785/files/Gerbil-Regular.woff2?v=1674623945') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/2437/2785/files/Gerbil-Regular.woff?v=1674623945') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

